<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/estilos.css">

  <title>Ticket de compra</title>
</head>
<body>
  <div class="logContainer">
    <h1>
        Bienvenide, <%= cartTicket.email %>
          <button class="btnHome" onclick="location.href='/api/users/logout'">
            Desloguear
          </button>
          <button class="btnHome" onclick="location.href='/api/products'">
            Ir a productos
          </button>
          <button class="btnHome" onclick="location.href='/api/carts'">
            Ir a carritos
          </button>
          <button class="btnHome" onclick="location.href='/api/users/info'">
            Información del usuario
          </button>
    </h1>
</div>      
  <h2>Felicitaciones <%= cartTicket.username %>, ha finalizado su compra</h2>
  <p>El número de referencia es <%= ticketId %></p>
  <% cartTicket.cart.products.forEach( (product) => { %>
    <div class="cartItemContainer">
      <div class="cartItemsTexts">
        <p class="cartItemTitle"><%= product.title %></p>
        <p class="cartItemQunatity">Cantidad: <%= product.quantity %></p>
        <p class="cartItemQunatity">Valor por unidad: $<%= product.price %></p>
        <p class="cartItemQunatity">Subtotal: $<%= product.quantity * product.price %></p>
      </div>
    </div>
  <%})%>
  <p class="cartValorTotal">Total: $<%= precioFinal %></p>

</body>
</html>