<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información de Usuario</title>
    <link rel="stylesheet" type="text/css" href="/css/estilos.css" />

</head>
<body>
  <div class="logContainer">
        
    <h1>
      Bienvenide, <%= usuario.username %>
    </h1>
    <button class="btnHome" onclick="location.href='/api/users/logout'">
      Desloguear
   </button>
    <button class="btnHome" onclick="location.href='/api/products'">
      Ir a productos
    </button>
    <button class="btnHome" onclick="location.href='/api/carts'">
      Ver carritos creados
    </button>
  </div>
  <h2 class="titulo">Datos de Usuario ID: <%=usuario.id%></h2>
  <div class="userInfoContainer">
    <div class="userContainerImg">
      <img src="<%=usuario.photo%>" id="userImg" alt="Avatar del usuario <%=usuario.username%>">
    </div>
    <div class="userContainerInfo">
      <p class="userText">Usuario: <%=usuario.username%></p>
      <p class="userText">Nombre: <%=usuario.name%></p>
      <p class="userText">Apellido: <%=usuario.lastname%></p>
      <p class="userText">Mail: <%=usuario.email%></p>
      <p class="userText">Telefono de Contacto: <%=usuario.phone%></p>
    </div>
  </div>
</body>
</html>