<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información de Usuario</title>
    <link rel="stylesheet" type="text/css" href="/css/estilos.css" />

</head>
<body>
  <div class="logContainer">
        
    <h1>
      Bienvenide, <%= usuario.username %>
    </h1>
    <button class="btnHome" onclick="location.href='/api/users/logout'">
      Desloguear
   </button>
    <button class="btnHome" onclick="location.href='/api/products'">
      Ir a productos
    </button>
    <% if (usuario.cart) {%>
      <button class="btnHome" onclick="location.href='/api/carts/<%= usuario.cart %>/products'">
          ir al carrito <%= usuario.cart %> 
      </button>   
    <% } else { %>  
      <button class="btnHome" onclick="location.href='/api/carts'">
          Ver carritos creados
      </button>
      <button class="btnHome" onclick="location.href='/api/users/login'">
        crear un Carrito
      </button>
    <% } %> 
    <button class="btnHome" onclick="location.href='/api/chat'">
      Ir al chat
     </button>    
  </div>
  <h2 class="titulo">Datos de Usuario ID: <%=usuario.id%></h2>
  <div class="userInfoContainer">
    <div class="userContainerInfo">
      <p class="userText">Persistencia en uso: <%=server.PERS%></p>
      <p class="userText">Puerto: <%=server.PORT%></p>
      <p class="userText">Tiempo de sesión: <%=server.SESSION_AGE%></p>
      <p class="userText">base de Datos: <%if(server.PERS == 'json' ){ %>./<%=server.FILE_PATH%><%}else if(server.PERS == 'mongodb' ){ %><%=server.PERS%>+srv://<%=server.DB_USER%>:<%=server.DB_PASSWORD%>@<%=server.DB_HOST%>/<%=server.DB_DATABASE%>?retryWrites=true&w=majority<%}else{ %> En memoria <% } %> </p>
      <p class="userText">Modo: <%=server.MODE%></p>
    </div>
  </div>
</body>
</html>